* {
    box-sizing: border-box;
}

body {
    width: 95%;
    height: 900px;
    background-color: #ffede6;
  }
  
  #banner {
    margin-top: 28px;
  }
  
  .spacing-reset {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  .list-reset {
    padding: 0;
    margin: 0;
    list-style-type: none;
    border: 0;
  }
  
  @media (min-width: 1200px) {
    .container {
      width: 990px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      width: 990px;
    }
  }
  
  .enter_section {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  #enter_text {
    width: 400px;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    font-size: 38px;
  }
  
  .task {
      border-right: 3px solid black
  }
  
  #text-enter-button {
    margin-top: 10px;
  }
  
  h1 {
    color: #ff952b;
  }
  
  .burger-btn {
     position: absolute;
     right: 0;
  }